# Remove Dummies
.DS_Store
.console_history
.env

*.jar
*.log
*.old
*.swp
*.tmp
*.pem
*.json
*.db

logs/
cache/
versions/
lib/
libs/
servers/wildcraft/libraries/

help.yml
permissions.yml

servers/wildcraft/w*
